body {
  font-family: Arial, Helvetica, sans-serif;

}

form {
  border: 1px;
  padding: 30px;
  background-color:rgb(10, 6, 6);
}
 
label {
  color: azure;
}

input[type=text],[type=email],textarea, select {
  width: 100%;
  padding: 4px;
  margin: 10px;
  box-sizing: border-box;
}

button {
  background-color:rgb(160, 47, 122);
  color: aliceblue;
  box-sizing: border-box;
  width:30%;
  height: 25px;
  border-radius: 4px;
  margin-top: 3px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

a {
  float: right ;
  color: grey;
  text-decoration: solid;
  margin-top: 20px;
}